@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background:url('./images/bg-intro-mobile.png'),hsl(0, 100%, 74%) ;
    padding: 70px 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 355px;
}

section.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;
    max-width: 330px;
    min-height: 250px;
    padding: 5px;
    text-align: center;
}

section.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.tryout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    min-width: 320px;
    min-height: 80px;
    background: hsl(248, 32%, 49%);
    border-radius: 10px;
    text-align: center;
}

span{
    font-weight: 600;
}

article{
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    max-width: 320px;
    min-height: 450px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 320px;
    min-height: 380px;
}

input{
    height: 60px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
}

button[type=submit]{
    width: 100%;
    height: 60px;
    background: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

p.disclaimer{
    color: hsl(246, 25%, 77%);
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}


